
    <div class="navbar">
    <div>Welcome, Samsul! <span id="date"></span></div>
    <div>🔔 ⚙️</div>
  </div>
  

  <!-- <script>

    function getDate(){
        let hour = new Date().getHours()
        let minute = new Date().getMinutes()
        let second = new Date().getSeconds()

        if(minute < 9){
            minute = '0' + minute
        }   

        document.getElementById("date").innerHTML = `${hour} ${minute}: ${second}` 
    }
    
    setInterval(() => {
        getDate()
    }, 1000)
  </script> -->

